---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>1月3日</h1>
        <p>今日去攀岩，很久没爬了，白交了一个月的会员费，之后要补上。
珍珍还是有排便的问题，兽医也没有回复，希望不会太贵。我现在把她锁在厕所，等会儿去清理。
买的Anri的Timely!唱片终于到了，这张专辑在上个夏天在我的车里高强度播放，我很怀念那个夏天。“我会在若干年后怀念那个夏天”这是当时就有的预感。其实人在经历难忘的事情的当下，会觉得也没有什么好怀念的，想来也是很讽刺了。我曾经是那个开着日本跑车蠕行，横跨美洲大陆只为了便宜直飞机票的，操着漂亮白女的恶臭国男。我简直屌爆了。
等会儿我要看Snatch，这是我今天的决心。</p>

又捡到了便宜，100块钱买了把贝斯加音箱，打算试试看，似乎不太难。
下午去攀岩，太久没爬了，腰酸背痛。
看天气预报接下来两天要下雪，所以吃了顿旺角，晚上回家也没干啥。等会儿给家里打个电话，顺带看一部电影。S
	</body>
</html>
